{
    "parser": "@typescript-eslint/parser",
    "extends": ["google", "eslint:recommended", "plugin:prettier/recommended"],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "require-jsdoc": 0,
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    },
    "globals": {
        "SpotifyApi": true,
        "NodeJS": true,
        "setInterval": true,
        "setTimeout": true,
        "clearInterval": true,
        "clearTimeout": true,
        "console": true,
        "global": true,
        "process": true,
        "__dirname": true
    }
}
